@font-face {
  font-family: "iconfont"; /* Project id 4331368 */
  src: url('iconfont.woff2?t=1701153574944') format('woff2'),
       url('iconfont.woff?t=1701153574944') format('woff'),
       url('iconfont.ttf?t=1701153574944') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongsizhili:before {
  content: "\e600";
}

.icon-pdf:before {
  content: "\e602";
}

.icon-lianluoxinxi:before {
  content: "\e603";
}

.icon-caiwubaogao:before {
  content: "\e604";
}

.icon-qiyexinxi:before {
  content: "\e605";
}

.icon-touzixinxi:before {
  content: "\e606";
}

.icon-zhongyaogonggao:before {
  content: "\e607";
}

.icon-gongsixinwen:before {
  content: "\e609";
}

.icon-chunengkeyan:before {
  content: "\e60a";
}

.icon-download:before {
  content: "\e60b";
}

.icon-hangyeyanjiu:before {
  content: "\e60e";
}

.icon-business:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-youjiantou:before {
  content: "\e624";
}

.icon-weixin1:before {
  content: "\e62a";
}

.icon-ins1:before {
  content: "\e62b";
}

.icon-yuyan1:before {
  content: "\e62c";
}

.icon-xiaohongshu1:before {
  content: "\e62d";
}

.icon-twitter1:before {
  content: "\e62e";
}

.icon-douyin1:before {
  content: "\e630";
}

.icon-sanjiaojiantou:before {
  content: "\e623";
}

.icon-guanbi:before {
  content: "\eaf2";
}

