@charset "utf-8";
/*引用公用样式*/
html {
  /*防止IOS屏幕横竖屏切换时文字大小产生变化*/
  -webkit-text-size-adjust: 100%;
  /*禁用点击的高亮反馈*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 禁止长按链接与图片弹出菜单 */
a,
img {
  -webkit-touch-callout: none;
}
body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:focus,
textarea:focus,
button:focus {
  outline: 0;
}
a,
a:hover {
  text-decoration: none;
}
/*解决字体和文字大小在浏览器中没有被继承的问题*/
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
}
body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#bgm-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 75px;
  height: 75px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: none;
}
#bgm-btn .on,
#bgm-btn .off {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 75px;
  height: 75px;
}
@keyframes bgmove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes bgmove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**
 * @author: Evil
 * @date: 02/07/2022/ 19:07:98
 * @lastAuthor: Evil
 * @lastEditTime: 23/10/2022/ 13:10:42
 * @filePath: /src/less/animation.less
 * @description: 公共的 css动画
 */
/* 动画名称-动画时间-延迟时间-动画次数-动画速度 */
.GoodsRotate {
  animation: GoodsRotate 2500ms 0ms infinite linear both;
}
@keyframes GoodsRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.BottomToTopMovieIn {
  animation: BottomToTopMovieIn 500ms 0ms linear forwards;
}
@keyframes BottomToTopMovieIn {
  0% {
    transform: translate3d(0, 60%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.BottomToTopMovieOut {
  animation: BottomToTopMovieOut 500ms 0ms linear forwards;
}
@keyframes BottomToTopMovieOut {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
}
.ScaleMovIn {
  animation: ScaleMovIn 300ms 0ms linear forwards;
}
@keyframes ScaleMovIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.ScaleMovOut {
  animation: ScaleMovOut 300ms 0ms linear forwards;
}
@keyframes ScaleMovOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(0.3);
    opacity: 0;
  }
}
.SwiperRightToLeft {
  animation: SwiperRightToLeft 9000ms 0ms linear infinite;
}
@keyframes SwiperRightToLeft {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.ArrowUpMoveToDownInfinite {
  animation: ArrowUpMoveToDownInfinite 1000ms 0ms linear infinite;
}
@keyframes ArrowUpMoveToDownInfinite {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-10%);
  }
}
.Shanke {
  animation: Shanke 800ms 200ms infinite linear both;
}
@keyframes Shanke {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}
.Show {
  animation: Show 800ms 200ms linear both;
}
@keyframes Show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Hide {
  animation: Hide 800ms 200ms linear both;
}
@keyframes Hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.bgmove {
  animation: bgmove 1.1s linear infinite;
}
@keyframes bgmove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes bgmove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*项目样式*/
#screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
#dom-main-box {
  position: absolute;
  left: 0;
  top: 0;
}
#pixi-main-box {
  position: absolute;
  left: 0;
  top: 0;
}
#pixi-main-box canvas {
  position: absolute;
  left: 0;
  top: 0;
}
#createjs-main-box {
  position: absolute;
  left: 0;
  top: 0;
}
#createjs-main-box canvas {
  position: absolute;
  left: 0;
  top: 0;
}
#threejs-main-box {
  position: absolute;
  left: 0;
  top: 0;
}
#threejs-main-box canvas {
  position: absolute;
  left: 0;
  top: 0;
}
#vue-main-box {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}
#load-main-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.ces-show-toast-ui {
  z-index: 1000;
}
/** 去掉标签自带的间隙(图片) **/
/**常规定位的简写**/
.re {
  position: relative;
}
.ab {
  position: absolute;
}
.page-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.page-screen-center {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.public-page-style {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.public-content-style {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
.public-content-style-center {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.public-panel-style {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}
.public-center-conetnt {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
/* 隐藏滚动条 */
.element {
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  overflow-x: scroll;
  /* 设置溢出滚动 */
  white-space: nowrap;
  overflow-y: hidden;
  /* 隐藏滚动条 */
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
.element::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}
.overflow-fill-point {
  overflow: hidden;
  /* 超出一行文字自动隐藏 */
  text-overflow: ellipsis;
  /* 文字隐藏后添加省略号 */
  white-space: nowrap;
  /* 强制文本不换行 */
}
.come-back {
  position: fixed;
  width: 74px;
  height: 74px;
  left: 16px;
  top: 78px;
}
#container {
  width: 219px;
  height: 219px;
  position: fixed;
  top: 0;
  left: 0;
}
#container2 {
  width: 219px;
  height: 219px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.front {
  user-select: none;
  background: none;
}
.back {
  background-size: cover;
  user-select: none;
}


/*# sourceMappingURL=index.583348f8.css.map*/